.link-name{
    text-decoration: none;
    // text-align: center;
    // display: flex;
    // justify-content: center;
    // color: red;
    font-size: 17px;
    font-weight: 800;
    color: black;

}
// .link:hover{
//     color: red;
//     opacity: 0.3;
//     transition: 0.5s;
// }