@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Inter&family=Lato:wght@100&family=Montserrat:wght@500&family=Open+Sans:wght@400;500&family=Poppins&family=Raleway&family=Roboto&display=swap');


:root {
    --font-family-ibm: 'IBM Plex Sans', sans-serif;
    --font-family-inter: 'Inter', sans-serif;
    --font-family-lato: 'Lato', sans-serif;
    --font-family-montserrat: 'Montserrat', sans-serif;
    --font-family-open-sans: 'Open Sans', sans-serif;
    --font-family-poppins: 'Poppins', sans-serif;
    --font-family-raleway: 'Raleway', sans-serif;
    --font-family-roboto: 'Roboto', sans-serif;
}

:root {
  min-height: 100%;
}

html {
  overflow-x: hidden;

}


body {
  overflow-x: hidden;
  min-height:100%;
  margin: 0;
  font-family: var(--font-family-poppins);
}

::placeholder {
  font-family: var(--font-family-poppins);
}




code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
